:root {
    --color-primary: greenyellow;
    --color-secondary: hsl(from black h s 5);
    --color-accent: var(--color-primary);
    --color-background: ghostWhite;
    --color-text: black;
    --color-neutral-gray: dimgrey;
    --color-error: red;
    --color-success: chartreuse;
    --color-warning: gold;
}
